# Directorios y paths.
AUDIOS_DIR=./tmp/audios
TRANSCRIPTIONS_DIR=./tmp/transcriptions
JSON_OUTPUT_PATH=./tmp/fragmentos.json
CSV_OUTPUT_PATH=./tmp/analisis-textos-json.csv

# Modelos y URLs.
WHISPER_MODEL_URL=openai/whisper-large-v3-turbo
NEMO_MODEL_URL=nvidia/canary-1b-v2
LLM_URL=http://192.168.1.60:1234/v1/chat/completions
LLM_MODEL=gemma-4-e2b