@media (max-width: 576px) {
  body {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

#youtube_channel_accordion, #youtube_urls_accordion, #podcast_accordion, #keyowrds_accordion {
  border: none !important;
}

#output-box textarea {
  font-family: monospace;
  font-size: 0.85rem;
  min-height: 150px;
  white-space: pre-wrap;
  word-break: break-word;
  max-height: 300px;
  overflow-y: "auto";
}

.gr-number {
  display: flex;
  justify-content: center;
}